<!DOCTYPE html>
<html>
<head>
	<title>Search for Students by Campus</title>
</head>
<body>
	<form action="/students/campus" method="POST">
		<input type="text" name="campus" placeholder="Campus">
		<button type="submit">Search</button>
	</form>
</body>
</html>