<!DOCTYPE html>
<html>
<head>
	<title>Search Results</title>
</head>
<body>
<!--   <ul>
    <% @search_results.each do |student| %>
      <li><%= student['name'] %> will attend the <%= student['campus'] %> campus.</li>
    <% end %> 
  </ul> -->
</body>
</html>