.octopus {
	margin-left: 480px;
	margin-top: 100px;
}

.hat {
	position: absolute;
	left: 465px;
	top: 145px;
}

.glasses {
	position: absolute;
	left:530px;
	top: 297px;
}

.quote {
	font-weight: bold;
	font-style: italic;
	font-family: arial;
	font size: 48;
	text-align: center;
	color: yellow;
	position: relative;
	top: 0px;
}

body {
	background-color: navy;
}

.words {
	font-family: arial;
	text-align: center;
	text-weight: bold;
	color: limegreen;
	font-size: 48px;
}